:root {
  --primary: #70d6ff;
  --pink: #ff70a6;
  --secondary: #ff9770;
  --orangeb: #ffd670;
  --yellow: #e9ff70;
  --third: white;
  --main_font:MyQuicksand;
}

body{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
h1{
  margin: 0;
  text-align: center;
}

/* Lobby  */

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  background: url('/pattern-1.svg') repeat;
  animation: diagonalMove 45s linear infinite;
  -webkit-animation: diagonalMove 45s infinite; /* Safari and Chrome */
  width: 100vw;
  height: 100vh;
}

@keyframes diagonalMove {
  0% {
    background-position: 0% 0%;
  }
  50%{
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes diagonalMove {
  0% {
    background-position: 0% 0%;
  }
  50%{
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.home_page-container{
  display: flex;
  width: 60%;
  height: calc(75vh - 40px);
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.room_list-container{
  max-width: 850px;
  max-height: 320px;
  width: 100%;
  overflow-y: auto;
}

.room_list{
  margin-top: 30px;
  max-height: 20px;
}

/* Room  */

.room-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.side_pannel-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  width: 33%;
  height: 100vh;
}

.duck_profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  height: calc(30vh - 30px);
  background-color: white;
}

.duck-customization{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 20px;
}

.duck_portrait-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}

.duck_portrait{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mini_duck_portrait-container{
  width: 45px;
}

.main-duck-img{
  width: 100px;
}

.duck_list-container{
  display: flexbox;
  flex-direction: column;
  padding: 0px 10px;
  width: 80%;
  height: calc(55vh - 30px);
  margin-top: 10px;
  background-color: var(--third);
  overflow-y: auto;
}

.duck_list-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin: 10px 0px;
  background-color: primary;

}

.side_alerts-container{
  width: 80%;
  height: calc(15vh - 30px);
  padding: 0px 10px;
  margin-top: 10px;
  background-color: var(--third);
}


.chat-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
}

.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.message_log-container{
  width: calc(100% - 30px);
  height: 90%;
  padding: 15px;
  background-color: var(--primary);
  overflow-y: auto;
}
.message_sender-container{
  width: 100%;
  height: 10%;
  padding: 0px 0px ;
  background-color: white;
}
.message_form{
  display: flex;
  justify-items: start;
  width: 100% !important;
  max-width:none;
}

.message-input{
  width: 80%;
}
.message-btn{
  width: 10%;
  max-width: 60px;
  appearance: none;
  background-color: white;
  border-style: none;
}

/* Modal */

.modal-background{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: 998;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  min-height: 350px;
  padding: 10px;
  background-color: white;
}

/* Fonts  */
@font-face {
  font-family: 'MyQuicksand';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
}

/* Apply the font-family to elements */
body {
  font-family: 'MyQuicksand', sans-serif;
}


/* Form */
form {
  max-width: 600px;
  margin: 0 auto;
}

/* Style form controls */
.form_control {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

input[type="color" i] {
  border-radius: 50%;
  inline-size: 3em;
  block-size: 3em;
  padding: 3px;
  background-color: white;
  border-width: 0px;
}

/* Affects area between outer circle and color swatch. Firefox doesn't have an equivalent. */
input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 1px;
}

/* Affects the inner circle, i.e. the current color selection */
input[type="color" i]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color" i]::-moz-color-swatch {
  border-radius: 50%;
}

/* Style buttons */
.nice-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

/* Style header */
header {
  text-align: center;
  padding: 20px 0;
}

/* Add some spacing to the header */
h2 {
  margin: 0;
}

/* Style the options container */
.options {
  text-align: center;
  margin-top: 20px;
}

/* Add some spacing between buttons */
.nice-button + .nice-button {
  margin-left: 5px;
}

.inline-label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Add some spacing between label and checkbox */
.label + input[type="checkbox"] {
  margin-left: 10px;
}


/* Large computers and larger screens */
@media only screen and (min-width: 1200px) {
  .side_pannel-container{
    max-width: 450px;
  }
}

/* Computers and larger screens */
@media only screen and (min-width: 1024px) {
  
}


/* Tablets and larger screens */
@media only screen and (max-width: 1023px) {

  .home_page-container{
    width: 85%;
    height: 85vh;
  }

  .room-container{
    flex-direction: column;
  }
  .side_pannel-container{
    width: 100%;
    height: auto;
    flex-direction: row;
    background-color: white;
  }
  .duck_profile-container{
    height: 130px;
    padding: 0px;
    margin: 0px;
  }
  .duck_list-container{
    height: 130px;
    padding: 0px;
    margin: 0px;
  }

  .side_alerts-container{
    height: 130px;
    margin: 0;
    text-align: center;
  }

  .chat-container{
    width: 100%;
  }
}


/* Mobile phones */
@media only screen and (max-width: 599px) {

  .home_page-container{
    height: calc(75vh - 40px);
  }

  .side_pannel-container{
    flex-wrap: wrap;
    background-color: var(--third);
    height: 150px;
  }
  .duck_profile-container{
    width: 60%;
  }
  .duck_list-container{
    width: 40%;
  }
  .side_alerts-container{
    width: 100%;
  }

  .chat-container{
    justify-content: start;
    width: 100%;
    height: calc(80vh);
    padding: 0px;
    margin: 0px;
  }

  .message_log-container{
    padding: 0px 15px;
    width: calc(100% - 30px);
    height: calc(100vh - 245px);
  }

  .message_sender-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30px;
    padding: 5px 0px;
  }

  .side_alerts-container{
    display: none;
  }

  .message_form{
    width: calc(100% - 60px);
  }

  .title-container{
    height: 35px;
  }
  
  .message-input{
    border-radius: 30px;
    width: 80% !important;
    margin: 0px 5px;
  }
  
}