body{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  text-align: center;
}

.room-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.side_pannel-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: brown;
  width: 20%;
  height: 100vh;
}

.duck_portrait-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 10px;
  height: 180px;
  margin-top: 20px;
  background-color: white;
}

.mini_duck_portrait-container{
  width: 45px;
}

.duck_portrait{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  padding: 5px;
}

.main-duck-img{
  width: 100px;
}

.duck_list-container{
  display: flexbox;
  flex-direction: column;
  padding: 0px 10px;
  width: 80%;
  height: 250px;
  margin-top: 10px;
  background-color: yellow;
  overflow-y: auto;
}

.duck_list-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin: 10px 0px;
  background-color: blue;

}

.side_alerts-container{
  width: 90%;
  height: 60px;
  margin-top: 20px;
  background-color: white;
}

.chat-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
}
.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.message_log-container{
  max-width: 750px;
  width: 100%;
  height: 70%;
  padding: 15px;
  background-color: yellow;
  overflow-y: auto;
}
.message_sender-container{
  max-width: 750px;
  width: 100%;
  padding: 5px 15px ;
  background-color: green;
}

.message_form{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  width: 100%;
}

.message-input{
  width: 75%;
}
.message-btn{
  width: 15%;
}


